<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:text-overflow="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Table of users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="static/styles/category-list.css" rel="stylesheet" type="text/css" >
    <block th:insert="blocks/head-info.html :: head-info"></block>
</head>

<body class="sidebar-mini layout-boxed">

<!-- Хедер -->
<block th:insert="blocks/header.html :: header"></block>

<div class="container-fluid">
    <div class="row">

        <!-- Боковое меню -->
        <block th:insert="blocks/side-bar-block.html :: side-bar-block"></block>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Список пользователей</h1>
            </div>
            <div class="album py-5 bg-light">
                <div class="card">
                    <div class="card-header">
                        <div sec:authorize="hasRole('ROLE_ADMIN')" style="margin-left: 10px">
                            <a th:href="@{/user-create-admin}"><h5>Создать нового пользователя  <i class="bi bi-person-plus"></i></h5></a>
                        </div>
                    </div>

                                        <div class="card-body">
                                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                <div class="row"><div class="col-sm-12">
                                                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                                                        <thead>
                                                        <tr>
                                                            <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Имя: activate to sort column descending">Имя</th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Фамилия: activate to sort column ascending">Фамилия</th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Отчество: activate to sort column ascending">Отчество</th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Номер телефона: activate to sort column ascending">Номер телефона</th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Электронная почта: activate to sort column ascending">Электронная почта</th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Статус: activate to sort column ascending">Статус</th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Edit: activate to sort column ascending"></th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Remove: activate to sort column ascending"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr class="even"  th:each="users : ${user}">
                                                            <td class="dtr-control sorting_1" tabindex="0" th:text="${users.name}"></td>
                                                            <td th:text="${users.surname}"></td>
                                                            <td th:text="${users.patronymic}"></td>
                                                            <td th:text="${users.phone}"></td>
                                                            <td th:text="${users.email}"></td>
                                                            <td th:if="${users.active}==true"> 🟢 Активен</td>
                                                            <td th:if="${users.active}==false"> 🔴 Заблокирован</td>
                                                            <td><a th:href="@{'/user-edit-admin/'+${users.id}}"><button><i class="bi bi-pencil-fill"></i></button></a></td>
                                                            <td><a th:href="@{'/user-remove-admin/'+${users.id}}"><button title="Удалить пользователя" type="submit"><i class="bi bi-trash-fill"></i></button></a></td>
                                                        </tr>
                                                        </tbody>
                                                        <tfoot>
                                                        <tr>
                                                            <th rowspan="1" colspan="1">Имя</th>
                                                            <th rowspan="1" colspan="1">Фамилия</th>
                                                            <th rowspan="1" colspan="1">Отчество</th>
                                                            <th rowspan="1" colspan="1">Номер телефона</th>
                                                            <th rowspan="1" colspan="1">Электронная почта</th>
                                                            <th rowspan="1" colspan="1">Статус</th>
                                                            <th rowspan="1" colspan="1"></th>
                                                            <th rowspan="1" colspan="1"></th>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </main>
                    </div>
</div>
                    <!-- Блок скриптов -->
<block th:insert="blocks/foot-links.html :: foot-links"></block>

</body>
</html>